* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lucida Sans", sans-serif;
    box-sizing: content-box
}

.cabecalho {
    background-color: #b83dba;
    color: #ffffff;
    padding: 15px;
    height: 12vh;
}

.conteudo {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}

.artigo {
    width: 70%;
    padding: 1%;
    display: inline-block;
}

.perfil {
    display: block;
    margin: 25px auto;
    max-width: 25%;
}

.barra-lateral-esquerda,
.barra-lateral-direita {
    width: 15%;
    display: inline-block;
    height: 80vh;
}

.barra-lateral-esquerda ul {
    list-style-type: none;
    margin: 1%;
    padding: 1%;
}

.barra-lateral-esquerda li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #b83dba;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.barra-lateral-esquerda li a {
    color: #ffffff;
    text-decoration: none;
    width: 100%;
    display: block;
}

.barra-lateral-esquerda li:hover {
    background-color: #b83dba;
}

.barra-lateral-direita h2 {
    color: #b83dba;
    margin: 10px 0;
}

.rodape {
    background: #b83dba;
    padding: 1%;
    color: #FFF;
}


/* Desse ponto em diante estamos falando em responsive*/

@media screen and (max-width: 768px) {
    .barra-lateral-esquerda,
    .barra-lateral-direita {
        width: 100%;
        height: 100%;
        padding: 2%;
    }
    .artigo {
        padding: 2%;
        width: 100%;
        display: inline-block;
    }
    .rodape {
        padding: 5%;
    }
}